In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [4]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [6]:
## Homework 1 Tasks:
##---------------------------------------------------------------
# Q1. What version of Pandas did you install
# Q2. Records count
# How many records are in the dataset?
    # 4704
    # 8704
    # 9704
    # 17704
# Q3. Fuel types
# How many fuel types are presented in the dataset?    
    # 1
    # 2
    # 3
    # 4
# Q4. Missing values
# How many columns in the dataset have missing values?    
    # 0
    # 1
    # 2
    # 3
    # 4
# Q5. Max fuel efficiency
# What's the maximum fuel efficiency of cars from Asia?    
    # 13.75
    # 23.75
    # 33.75
    # 43.75
# Q6. Median value of horsepower
    # Find the median value of the horsepower column in the dataset.
    # Next, calculate the most frequent value of the same horsepower column.
    # Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.
    # Now, calculate the median value of horsepower once again.
    # Has it changed?        
        # Yes, it increased
        # Yes, it decreased
        # No
# Q7. Sum of weights
    # Select all the cars from Asia
    # Select only columns vehicle_weight and model_year
    # Select the first 7 values
    # Get the underlying NumPy array. Let's call it X.
    # Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
    # Invert XTX.
    # Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
    # Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
    # What's the sum of all the elements of the result?

In [8]:
#Q1. 
pd.__version__

'2.3.3'

In [12]:
# Q2. Records count
# How many records are in the dataset?
df.shape[0]

9704

In [17]:
# Q3. Fuel types
# How many fuel types are presented in the dataset? 
x = df['fuel_type'].unique()        # what they are
y = df['fuel_type'].nunique()       # how many they are
z = df['fuel_type'].value_counts()  # how many of each type they are

print('what they are:', x)
print('how many:', y)
print('count per type:\n', z)

what they are: ['Gasoline' 'Diesel']
how many: 2
count per type:
 fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64