In [26]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [28]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [29]:
## Homework 1 Tasks:
##---------------------------------------------------------------
# Q1. What version of Pandas did you install
# Q2. Records count
# How many records are in the dataset?
    # 4704
    # 8704
    # 9704
    # 17704
# Q3. Fuel types
# How many fuel types are presented in the dataset?    
    # 1
    # 2
    # 3
    # 4
# Q4. Missing values
# How many columns in the dataset have missing values?    
    # 0
    # 1
    # 2
    # 3
    # 4
# Q5. Max fuel efficiency
# What's the maximum fuel efficiency of cars from Asia?    
    # 13.75
    # 23.75
    # 33.75
    # 43.75
# Q6. Median value of horsepower
    # Find the median value of the horsepower column in the dataset.
    # Next, calculate the most frequent value of the same horsepower column.
    # Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.
    # Now, calculate the median value of horsepower once again.
    # Has it changed?        
        # Yes, it increased
        # Yes, it decreased
        # No
# Q7. Sum of weights
    # Select all the cars from Asia
    # Select only columns vehicle_weight and model_year
    # Select the first 7 values
    # Get the underlying NumPy array. Let's call it X.
    # Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
    # Invert XTX.
    # Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
    # Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
    # What's the sum of all the elements of the result?

In [30]:
#Q1. 
pd.__version__

'2.3.3'

In [31]:
# Q2. Records count
# How many records are in the dataset?
df.shape[0]

9704

In [32]:
# Q3. Fuel types
# How many fuel types are presented in the dataset? 
x = df['fuel_type'].unique()        # what they are
y = df['fuel_type'].nunique()       # how many they are
z = df['fuel_type'].value_counts()  # how many of each type they are

print('what they are:', x)
print('how many:', y)
print('count per type:\n', z)

what they are: ['Gasoline' 'Diesel']
how many: 2
count per type:
 fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [40]:
# Q4. Missing values
# How many columns in the dataset have missing values? 
missing_cols = df.columns[df.isnull().any()]
print("Columns with missing values:", list(missing_cols))

num_cols_with_missing = df.isnull().any().sum()
print(f"Number of columns with missing values: {num_cols_with_missing}")

print("Number of Missing values per column")
print(df.isnull().sum().sort_values(ascending=False))

Columns with missing values: ['num_cylinders', 'horsepower', 'acceleration', 'num_doors']
Number of columns with missing values: 4
Number of Missing values per column
acceleration           930
horsepower             708
num_doors              502
num_cylinders          482
engine_displacement      0
model_year               0
vehicle_weight           0
origin                   0
fuel_type                0
drivetrain               0
fuel_efficiency_mpg      0
dtype: int64

In [44]:
# Q5. Max fuel efficiency
# What's the maximum fuel efficiency of cars from Asia? 
cars_fm_asia = df[df["origin"].str.lower() == 'asia']

print("Max fuel efficiency of cars is: ",max(cars_fm_asia['fuel_efficiency_mpg']))

print("snapshot of cars from Asia")
display(cars_fm_asia.head(3))

Max fuel efficiency of cars is:  23.759122836520497
snapshot of cars from Asia

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091

In [53]:
# Q6. Median value of horsepower

# Find the median value of the horsepower column in the dataset.
original_median = df['horsepower'].median()
print("Original median horsepower:", original_median)

# Next, calculate the most frequent value of the same horsepower column.
most_freq = df['horsepower'].mode()[0]
print("Most frequent horsepower value:", most_freq)
    
# Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.
df['horsepower_filled'] = df['horsepower'].fillna(most_freq)

# Now, calculate the median value of horsepower once again.
new_median = df['horsepower_filled'].median()
print("New median horsepower after filling missing values:", new_median)

# Has it changed? 
change = (new_median - original_median)
print("Yes, it changed by: +",change)

Original median horsepower: 149.0
Most frequent horsepower value: 152.0
New median horsepower after filling missing values: 152.0
Yes, it changed by: + 3.0

In [64]:
# Q7. Sum of weights
# Select all the cars from Asia
asian_cars = df[df['origin'].str.lower() == 'asia']
print("snapshot of asian cars: ")
display(asian_cars.head(3))

# Select only columns vehicle_weight and model_year
vehicle_weight_n_mod_yr = df[['vehicle_weight','model_year']]
print("\nsnapshot of columns vehicle_weight and model_year: ")
display(vehicle_weight_n_mod_yr.head(3))

snapshot of asian cars:

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg,horsepower_filled
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554,174.0
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820,145.0
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091,160.0

snapshot of columns vehicle_weight and model_year:

   vehicle_weight  model_year
0     3413.433759        2003
1     3149.664934        2007
2     3079.038997        2018

In [72]:
# Select the first 7 values
    # Get the underlying NumPy array. Let's call it X.
    # Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
    # Invert XTX.
    # Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
    # Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
    # What's the sum of all the elements of the result?

first_seven_records = vehicle_weight_n_mod_yr.head(7)
X = np.array(first_seven_records)
X_transpose = X.T
# multiplication of matrix : A @ B  --> matrix multiplication & A * B --> element-wise multiplication
XTX = X_transpose @ X
print("XTX is :",XTX)

# Invert XTX
XTX_inv = np.linalg.inv(XTX)
print("\nXTX_inv is :",XTX_inv)

# Array y 
y = [1100, 1300, 800, 900, 1000, 1100, 1200]
y = np.array(y)
print("\ny is: ",y)

# Compute w = (X^T X)^(-1) X^T y
w = XTX_inv @ X.T @ y

# Sum of all elements in w
w_sum = w.sum()

print("w:", w)
print("Sum of elements in w:", w_sum)

XTX is : [[64707732.45267162 42471352.31816065]
 [42471352.31816065 28264752.        ]]

XTX_inv is : [[ 1.12464107e-06 -1.68991495e-06]
 [-1.68991495e-06  2.57468996e-06]]

y is:  [1100 1300  800  900 1000 1100 1200]
w: [0.07099685 0.41931263]
Sum of elements in w: 0.4903094879707426